# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# SQLite database
*.sqlite
*.db

# Uploads
uploads/
data/

# Test coverage
coverage/
